<html>
    <head>
        <title>hi</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data" action="{% url 'contents:change_view_mode' %}">
        {% csrf_token %}
            <select name="year">
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
            </select>
            <select name="month" id="whichmonth" onchange="display31(this.value)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>

            <button
            value="submit"
            class="btn-tag fs-5 me-4"
            name="memo"
            type="submit">
            예측하기!
            </button>

        </form>
    </body>
</html>